@page
@model CodeModel
@{
  ViewData["Title"] = "Code";
}

<h1 class="display-4">Code</h1>

<!-- SubNav -->
<div class="sidebarCode">
    <nav>
    @* <aside class="subnav_menu"> *@
        <ul class="list-unstyled">
            <li><a id="seeLan" class="btn btn-default">Languages</a></li>
            <li>Related tech</li>
            <li>Linux</li>
        </ul>
    @* </aside> *@
    </nav>
</div>

<!-- Section 1: Languages -->

<section class="py-5">
  <div id="Section1_languages" class="container d-none">
    <h2>Overview</h2>
    <p>
      I began coding in April 2020 and have rather taken a fancy to it.
      In January 2021 I start a full-time, intensive training course with <a href="https://northcoders.com/">Northcoders</a> as a
      full-stack developer.
    </p>
    <h2>Languages</h2>
    <p>
      At the moment, I'm concentrating on <b>JavaScript</b> and <b>C#</b>.
      I also know a bit of <b>Python</b> and <b>Haskell</b>.
      I'm keen to do much more in Haskell, when time permits/the opportunity arises.
    </p>
  </div>
</section>

<!-- Section 2: Related tech -->

<section id="subSection2_relatedTech">
  <div class="container">
    <h2>Related technologies</h2>
    <p>I'm familiar with a host of complementary technologies <small>(Some more so than others, at this stage!)</small>:</p>
    <ul class="list-unstyled">
      <li>Git</li>
      <li>.NET <small>(ASP.NET and a little LINQ)</small></li>
      <li>HTML5 and CSS3</li>
      <li>Bootstrap</li>
      <li>Docker</li>
      <li>Flask framework</li>
      <li>Vim</li>
      <li>Nginx</li>
      <li>SQL databases <small>(This is a recent thing I've started learning)</small></li>
    </ul>
  </div>
</section>

<!-- Section 3: Linux -->

<section id="subSection3_linux">
  <div class="container">
    <h2>Linux systems</h2>
    <p>
      I'm a longstanding GNU/Linux user, with an inclination towards Arch-based distributions.
      I also prefer to use a tiling window manager rather than more typical desktop environments.
    </p>
    <p>
      At present, I am running ArcoLinux with XMonad on my main desktop computer and  
      standard Arch with suckless' dwm on my laptop. I have also run Manjaro (with both XMonad, dwm and 
      &ndash; briefly &ndash; XFCE). <emp>(Disclaimer! I use Ubuntu on my server!)</emp>
    </p>
    <h3>Why Arch-based distros?</h3>
    <p>
      Once you start running tiling window managers and using primarily CLI-based tools, 
      the truth is that the differences between distributions are not as pronounced as 
      hardcore distro fans would have you believe. For me, it boils down to two things:
    </p>
    <ol>
      <li>Ease of access to maintained packages</li>
      <li>Documentation</li>
    </ol>
    <p>
      All Arch-based distributions come with the <code>pacman</code> package manager and the 
      AUR (Arch Users' Repository). Between these, we're pretty well covered both in terms of 
      access to programs and their being kept up-to-date with the upstream repos.
    </p>
    <p>
      Anybody who's taken a serious dive into using Linux will likely have used the ArchWiki. 
      It's an absolutely brilliant resource whether you use an Arch-based distro or not,  
      but it's even more valuable if you do. Pretty much anything you need to look up is 
      well documented there. 
    </p>
    <h3>My prefered tools</h3>
    <p>
      I like the low-overheads of dwm, but after using both dwm and XMonad for a while
      I most definitely am an XMonad guy. That said, I really rate suckless' 'products' 
      (for want of a better word) so use their terminal emulator <b>st</b>, which I've configured to 
      my liking over time, and <b>dmenu</b>. I'm currently using <b>zsh</b> as my shell, 
      though am thinking of just adopting <b>fish</b>. (Naturally bash will always be on my system.)
    </p>
    <p>
      I am a big fan of Vim-inspired programs and like to use the Vim bindings where possible. 
      I now use Neovim, rather than vanilla Vim, for extensibility reasons. I'm quite a prolific 
      user of VimWiki as my notetaking application. I also have (and use) VSCodium &ndash; 
      the <i>actual</i> free and open source version of Microsoft's Visual Studio Code. 
    </p>
    <p>
      Betwen the disto, window manager, terminal emulator and text editor - that covers the 
      'biggies' of my Linux setup. Beyond these, I opt for free and open source software where 
      possible, though I am not fully free from the shackles of proprietary software yet.
    </p>
  </div>
  </section>