@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-3 mainTitle py-2">(music || code)</h1>
        <h3 class="display-6 subTitle">Musician and aspiring software developer</h3>
    </div>
</div>

<ul class="list-group list-group-horizontal justify-content-center my-5">
    <li class="list-group-item" style="border: none"><a href="https://github.com/galambborong"><img src="/lib/assets/GitHub-Mark-120px-plus.png" height="34" alt="GitHub Icon"></a></li>
    <li class="list-group-item" style="border: none"><a href="https://linuxrocks.online/@@keenan"><img src="/lib/assets/Logotype (Simple).svg" alt="Mastodon Icon" height="34"></a></li>
    <li class="list-group-item" style="border: none"><a href="https://www.linkedin.com/in/peter-keenan-bb951a46"><img src="lib/assets/LI-In-Bug.png" alt="LinkedIn Icon" height="34"></a></li>
</ul>