@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my website!</h1>
    <p>You can read about my musical activities, including my research, as well as my interests in coding.</p>
    <h2 class="display-6">Across the web</h2>
    <p>If you want to contect with me in some form, I am relatively active on these websites:</p>
    <ul>
        <li>Mastodon</li>
        <li>GitHub</li>
        <li>LinkedIn</li>
    </ul>
</div>
