@page
@model MusicModel
@{
    ViewData["Title"] = "Music";
}

<div class="text-center">
    <h1 class="display-4">Music</h1>
    <p>This is an overview of my musical activities, past and present.</p>
</div>
<div class="container">
    <aside>
        <ul>
            <li>Performance</li>
            <li>Research</li>
            <li>Music Engraving</li>
        </ul>
    </aside>
</div>